@using ShoppingStore.Models.Home
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checkout</h2>

@if (Session["Card"] == null)
{
    <div class="alert alert-danger">
        <strong>No product added to cart!</strong>
    </div>

}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                 double total = 0;
            }
            @foreach (var item in (List<ItemCard>)Session["Card"])
            {
               
                double lineTotal = Convert.ToDouble(item.Quantity * item.Product.Price);
                total = Convert.ToDouble(@total + lineTotal);
                <tr>
                    <td>@item.Product.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@item.Product.Price</td>

                </tr>
            }
            <tr>
                <td colspan="2"> <strong>Total</strong></td>
                <td><strong>@total</strong></td>

            </tr>

        </tbody>
    </table>
    <a class="btn btn-success" href="@Url.Action("CheckoutDetails","Home")">Payment >></a>

}
